* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Julius';
    src: url(./Assets/JuliusSansOne-Regular.ttf);
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    height: 50%;
    width: 50%;
}

#topbody {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#logo {
    width: 40%;
    height: 100%;
    background-image: url(./Assets/logo.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#title {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    font-family: 'Julius';
    font-size: 7vw;
    color: white;
    flex-grow: 1;
}

nav {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navele {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70%;
    background-color: #d9d9d9;
    width: 30%;
    background-image: url(./Assets/barcode.PNG);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    font-family: 'Julius';
    font-size: 1.2vw;
    padding-bottom: 0.5vh;
    font-weight: 700;
}

.clickable {
    cursor: pointer; /* Change cursor to indicate clickability */
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-style: 'Julius';
    color: white;
    font-size: 1vw;
    flex-direction: row-reverse;
    padding-right: 2vh;
}