/* custom-slick.css */

/* Base styles for the arrows */
.slick-prev,
.slick-next {
  z-index: 1;
  width: 30px; /* Smaller width */
  height: 30px; /* Smaller height */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
}

/* Position arrows */
.slick-prev {
  left: -25px; /* Adjusted for better visibility */
}

.slick-next {
  right: -25px; /* Adjusted for better visibility */
}

/* Adjust arrow positions and sizes for smaller screens */
@media (max-width: 600px) {
  .slick-prev,
  .slick-next {
    width: 25px; /* Even smaller width */
    height: 25px; /* Even smaller height */
  }

  .slick-prev {
    left: 10px; /* Position within the screen */
  }

  .slick-next {
    right: 10px; /* Position within the screen */
  }
}